/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to singUp a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

.round {
    border-radius: 1000px;
}

#grailsLogo {
    position: relative;
    display: inline-block;
}

#grailsLogo span {
    position: absolute;
    top: 50%;
    margin-top: -0.65em;
    margin-left: 10px;
}

header {
    background-color: #abbf78;
}

.nav ul {
    float: right;
}

.nav::after {
    content: '';
    display: table;
    clear: both;
    height: 0;
}

.pagination {
    margin-top: 25px;
}

p {
    margin: 1em 1.5em;
}

#singin {
    margin: 15px 0px;
    padding: 0px;
    text-align: center;
}

#singin .inner {
    width: 340px;
    padding-bottom: 6px;
    margin: 60px auto;
    text-align: left;
    border: 1px solid #aab;
    background-color: #f0f0fa;
    -moz-box-shadow: 2px 2px 2px #eee;
    -webkit-box-shadow: 2px 2px 2px #eee;
    -khtml-box-shadow: 2px 2px 2px #eee;
    box-shadow: 2px 2px 2px #eee;
}

#singin .inner .fheader {
    padding: 18px 26px 14px 26px;
    background-color: #f7f7ff;
    margin: 0px 0 14px 0;
    color: #2e3741;
    font-size: 18px;
    font-weight: bold;
}

#singin .inner .cssform p {
    clear: left;
    margin: 0;
    padding: 4px 0 3px 0;
    padding-left: 105px;
    margin-bottom: 20px;
    height: 1%;
}

#singin .inner .cssform input[type="text"] {
    width: 120px;
}

#singin .inner .cssform label {
    font-weight: bold;
    float: left;
    text-align: right;
    margin-left: -105px;
    width: 110px;
    padding-top: 3px;
    padding-right: 10px;
}

#singin #submit {
    margin-left: 15px;
}

#singin #remember_me_holder label {
    float: none;
    margin-left: 0;
    text-align: left;
    width: 200px
}

#singin .inner .login_message {
    padding: 6px 25px 20px 25px;
    color: #c33;
}

#singin .inner .text_ {
    width: 120px;
}

.subscribe {
    float: right;
    margin: 1em;
    border: 1px solid black;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 4px 4px 4px gray;
}

.subscribe:hover {
    box-shadow: 2px 2px 2px gray;
}